---
import type { GetStaticPaths } from "astro";
import { getCollection, type CollectionEntry } from "astro:content";
import Layout from "../layouts/Layout.astro";
import JobCard, { type Job } from "../components/JobCard.astro";
import config from "../config/config";

const videos: Record<string, string> = {
  aGaY4K4bmCui5YwHAX1P: "NnqC0mDkmDI",
  nQ5LMHHfUnFZE85YdIOT: "7FPZqvYmdrA",
  IskRAkrAh5kHqOUc8TuF: "18kdzQ0sOF0",
  h5fEfoQf4jqXrQWbwD7v: "N53Ik0PvKYI",
  yE6KTKUWbzi1AmJEeTCo: "XTkTvysN6gQ",
  f7J4vkm24BaPxHPy7VJE: "QdTMvu3mAYE"
};
interface Props {
  sponsor: CollectionEntry<"sponsors">;
  jobs: Job[];
}

export const getStaticPaths = (async () => {
  const sponsors = await getCollection("sponsors");

  type ApiPartner = { id: string; jobs?: Job[] };
  type ApiResponse = { partners: ApiPartner[] };

  const response: ApiResponse = await fetch(
    `${config.partnersActivitiesApi}/events/${config.eventId}/partners/activities`,
  ).then((res) => res.json());

  const jobsByPartnerId = new Map<string, Job[]>(
    response.partners.map((p) => [p.id, p.jobs ?? []]),
  );

  return sponsors.map((sponsor) => ({
    params: { id: sponsor.data.id },
    props: {
      sponsor,
      jobs: jobsByPartnerId.get(sponsor.data.id) ?? [],
    },
  }));
}) satisfies GetStaticPaths;

const { sponsor, jobs } = Astro.props;

const og = {
  ogDescription: sponsor.data.description?.replaceAll('"', "")?.trim(),
  ogUrl: "https://devlille.fr/partner-" + sponsor.data.id,
  ogImage: `https://devlille.fr/img/${sponsor.data.logoName}.${sponsor.data.ext}`,
};

const video = videos[sponsor.data.id] as string | undefined
---

<Layout title={sponsor.data.name} currSection="partners" og={og}>
  <div class="page-body">
    <div class="h-group sponsor">
      <p>
        {sponsor.data.siteUrl ? (
          <a href={sponsor.data.siteUrl} target="_blank" rel="noopener noreferrer">
            <img
              loading="lazy"
              src={sponsor.data.logoUrl}
              alt={`Logo de ${sponsor.data.name}`}
            />
          </a>
        ) : (
          <img
            loading="lazy"
            src={sponsor.data.logoUrl}
            alt={`Logo de ${sponsor.data.name}`}
          />
        )}
      </p>
      <div class="with-contact">
        <h2>{sponsor.data.name}</h2>
        <ul>
          {
            sponsor.data.twitterAccount && (
              <li>
                <a href={sponsor.data.twitterAccount}>
                  <svg role="img" width="24" height="24">
                    <title>X</title>
                    <use href="/img/sprite.svg#ic-twitter"></use>
                  </svg>
                </a>
              </li>
            )
          }
          {
            sponsor.data.linkedinAccount && (
              <li>
                <a href={sponsor.data.linkedinAccount}>
                  <svg role="img" width="24" height="24">
                    <title>LinkedIn</title>
                    <use href="/img/sprite.svg#ic-linkedin"></use>
                  </svg>
                </a>
              </li>
            )
          }
          {
            sponsor.data.instagramAccount && (
              <li>
                <a href={sponsor.data.instagramAccount}>
                  <svg role="img" width="24" height="24">
                    <title>Instagram</title>
                    <use href="/img/sprite.svg#ic-insta"></use>
                  </svg>
                </a>
              </li>
            )
          }
          {
            sponsor.data.facebookAccount && (
              <li>
                <a href={sponsor.data.facebookAccount}>
                  <svg role="img" width="24" height="24">
                    <title>Facebook</title>
                    <use href="/img/sprite.svg#ic-fb"></use>
                  </svg>
                </a>
              </li>
            )
          }
          {
            sponsor.data.siteUrl && (
              <li>
                <a href={sponsor.data.siteUrl}>
                  <svg role="img" width="24" height="24">
                    <title>Site Web</title>
                    <use href="/img/sprite.svg#ic-website"></use>
                  </svg>
                </a>
              </li>
            )
          }
        </ul>
      </div>
    </div>

    <div class="sponsor-sheet">
      <div class="description">
        {
          sponsor.data.description && (
            <div class="content">
              <p>
                {sponsor.data.description?.replaceAll('"', "")?.trim() ?? ""}
              </p>
            </div>
          )
        }

        {
          video && (
            <>
              <link rel="stylesheet" href="/youtube/youtube.css" />
              <script is:inline src="/youtube/youtube.js" />
              <lite-youtube
                videoid={video}
                style=`background-image: url('https://i.ytimg.com/vi/${video}/hqdefault.jpg');`
              />
            </>
          )
        }
      </div>

      <!--div class="the-talks">
        <h3>Les talks de nos colaborateurs</h3>

        <ul>
          <li>
            <strong><a href="#">Le nom du talk tres tres long qui passe à la logne</a></strong>
            Le nom du speaker
          </li>
          <li>
            <strong><a href="#">Le nom du talk</a></strong>
            Le nom du speaker
          </li>
        </ul>
      </div-->

      {jobs.length > 0 && (
        <details class="job-offers">
          <summary><h2>Offres d'emploi chez {sponsor.data.name}</h2></summary>
          <div class="content">
            {jobs.map((job) => <JobCard job={job} />)}
          </div>
        </details>
      )}

      <!-- <div class="online">
        <h3>Suivre {sponsor.data.name}</h3>
        <ul>
          {
            sponsor.data.twitterAccount && (
              <li>
                <strong class="stressed">Sur X: </strong>
                <a target="_blank" href={sponsor.data.twitterAccount}>
                  {sponsor.data.twitterAccount
                    ?.replace("https://twitter.com/", "")
                    ?.replace("https://x.com/", "")}
                </a>
              </li>
            )
          }
          {
            sponsor.data.linkedinAccount && (
              <li>
                <strong class="stressed">Sur LinkedIn: </strong>
                <a target="_blank" href={sponsor.data.linkedinAccount}>
                  {decodeURI(sponsor.data.linkedinAccount)
                    ?.replace("https://www.linkedin.com/in/", "")
                    ?.replace("https://www.linkedin.com/company/", "")
                    .replace("/", "")}
                </a>
              </li>
            )
          }
          {
            sponsor.data.instagramAccount && (
              <li>
                <strong class="stressed">Sur Instagram: </strong>
                <a target="_blank" href={sponsor.data.instagramAccount}>
                  {sponsor.data.instagramAccount
                    ?.replace("https://www.instagram.com/", "")
                    ?.replace("https://instagram.com/", "")}
                </a>
              </li>
            )
          }
          {
            sponsor.data.facebookAccount && (
              <li>
                <strong class="stressed">Sur Facebook: </strong>
                <a target="_blank" href={sponsor.data.facebookAccount}>
                  {sponsor.data.facebookAccount
                    ?.replace("https://www.facebook.com/", "")
                    ?.replace("https://facebook.com/", "")}
                </a>
              </li>
            )
          }
          {
            sponsor.data.siteUrl && (
              <li>
                <strong class="stressed">Site Web: </strong>
                <a target="_blank" href={sponsor.data.siteUrl}>
                  {sponsor.data.siteUrl}
                </a>
              </li>
            )
          }
        </ul>
      </div> -->

        <!-- {
          (sponsor.data.jobs ?? []).length > 0 && (
            <div class="talk">
              <h3>Mes Offres</h3>
              <p>
                <ul>
                  {sponsor.data.jobs
                    ?.map((job) => (
                      <li>
                        <a href={job.url}>{job.title}</a>
                      </li>
                    ))
                    .join("")}
                </ul>
              </p>
            </div>
          )
        } -->
    </div>
  </div>
</Layout>
