---
import config from "../config/config.ts";
import editions from "../config/editions.ts";
import Sponsors from "../components/sponsors.astro";
import PartnershipLink from "../components/partnership-link.astro";
import Footer from "../components/Footer.astro";
import { getEntry } from "astro:content";
import { getCollection } from "astro:content";
import { render } from "astro:content";

const { title, currSection, og = {} } = Astro.props;
const { ogDescription, ogUrl, ogImage } = og;

const verbatim = await getCollection("verbatims");
const randomVerbatim = verbatim[Math.floor(Math.random() * verbatim.length)];
const { Content } = await render(randomVerbatim);

const offers = [
    {
        "@type": "Offer",
        name: "Billet 2 jours / Jeudi et Vendredi",
        url: "https://www.billetweb.fr/devlille-{{ collections.config.edition }}",
        price: "80",
        priceCurrency: "EUR",
        availability: "https://schema.org/Reserved",
        availabilityStarts: `${config.edition}-01-15T08:00+2:00`,
        availabilityEnds: `${config.formattedEndDate}T08:00+2:00`,
        validFrom: `${config.formattedStartDate}T08:00+2:00`,
        validThrough: `${config.formattedEndDate}T19:00+2:00`,
    },
    {
        "@type": "Offer",
        name: "Billet 1 jour / Jeudi",
        url: `https://www.billetweb.fr/devlille-${config.edition}`,
        price: "40",
        priceCurrency: "EUR",
        availability: "https://schema.org/Reserved",
        availabilityStarts: `${config.edition}-01-15T08:00+2:00`,
        availabilityEnds: `${config.formattedEndDate}T08:00+2:00`,
        validFrom: `${config.formattedStartDate}T08:00+2:00`,
        validThrough: `${config.formattedEndDate}T19:00+2:00`,
    },
    {
        "@type": "Offer",
        name: "Billet 1 jour / Vendredi",
        url: "https://www.billetweb.fr/devlille-{{ collections.config.edition }}",
        price: "40",
        priceCurrency: "EUR",
        availability: "https://schema.org/Reserved",
        availabilityStarts: `${config.edition}-01-15T08:00+2:00`,
        availabilityEnds: `${config.formattedEndDate}T08:00+2:00`,
        validFrom: `${config.formattedStartDate}T08:00+2:00`,
        validThrough: `${config.formattedEndDate}T19:00+2:00`,
    },
];

const jsonld = {
    "@context": "https://schema.org",
    "@type": "Event",
    name: `DevLille ${config.edition}`,
    startDate: `${config.formattedStartDate}T08:00+02:00`,
    endDate: `${config.formattedEndDate}T19:00+02:00`,
    eventAttendanceMode: "https://schema.org/OfflineEventAttendanceMode",
    eventStatus: "https://schema.org/EventScheduled",
    location: {
        "@type": "Place",
        name: "Grand Palais",
        address: {
            "@type": "PostalAddress",
            streetAddress: "1 Bd des Cités Unies",
            addressLocality: "Lille",
            postalCode: "59777",
            addressCountry: "FR",
        },
    },
    description:
        "2 jours de conférences et d'échanges accessibles à tous et toutes au coeur de Lille.",
    offers: offers,
    organizer: {
        "@type": "Organization",
        name: "DevLille",
        url: "https://devlille.fr/",
    },
};
---

<!doctype html>
<html lang="fr">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta
            name="keywords"
            content="DevLille, Conférence, Web, Mobile, Cloud, Quickies"
        />
        <meta name="description" content={ogDescription} />
        <meta name="theme-color" content="#006D6D" />
        <meta property="og:url" content={ogUrl} />
        <meta property="og:title" content={title} />
        <meta property="og:description" content={ogDescription} />
        <meta property="og:image" content={ogImage} />

        <link href="/img/favicon.svg" type="image/svg+xml" rel="icon" />
        <link href="/img/favicon.png" type="image/png" rel="icon" />
        <title>{title} - DEVLILLE {config.edition}</title>

        <!-- ✅ Correct CSS Path -->
        <link rel="stylesheet" href="/css/main.css" />
        <link rel="stylesheet" href="/css/queries.css" />

        <script
            src="https://cdn.metricalp.com/event/metricalp.js"
            data-tid="mam196"
            defer></script>

        <script type="application/ld+json" set:html={JSON.stringify(jsonld)} />

        <link rel="manifest" href="/manifest.json" />
    </head>

    <body id={currSection === "index" ? "home" : ""}>
        <div id="container">
            <!-- 🏠 Page Header -->
            <header>
                <h1>
                    {
                        currSection === "index" ? (
                            <img
                                src="/img/logodl.svg"
                                alt={`DevLille ${config.edition}`}
                            />
                        ) : (
                            <a
                                href="/index.html"
                                aria-label="DevLille: Retour à l'accueil"
                            >
                                <img
                                    src="/img/logodl.svg"
                                    alt={`DevLille ${config.edition}`}
                                />
                            </a>
                        )
                    }
                </h1>
                <!-- 🗂️ Navigation -->
                <nav class="main-nav">
                    <h2 class="k-skip">
                        <a href="#wrapper">Navigation (Sauter)</a>
                    </h2>
                    <ul>
                        <li>
                            <a
                                href="/index.html"
                                aria-current={currSection === "index" && "page"}
                            >
                                Accueil</a
                            >
                        </li>
                        <li>
                            <a
                                href="/agenda/index.html"
                                aria-current={currSection === "agenda" &&
                                    "page"}
                            >
                                Agenda</a
                            >
                        </li>
                        <li>
                            <a
                                href="/faq"
                                aria-current={currSection === "faq" && "page"}
                            >
                                FAQ</a
                            >
                        </li>
                    </ul>
                </nav>

                {
                    config.enabled.tickets && (
                        <p class="register">
                            <a
                                rel="noreferrer noopener"
                                target="_blank"
                                href={`${config.billetwebUrl}${config.edition}`}
                            >
                                Prenez votre place!
                            </a>
                        </p>
                    )
                }
                <!-- <div>
          <p>
            <time d time={config.formattedStartDate}>
              {config.date}
            </time>
            <span>Lille Grand Palais</span>
          </p>
        </div> -->
            </header>

            <!-- 📌 Injecting Page-Specific Content -->
            <div id="wrapper">
                <main>
                    <slot />
                </main>

                {
                    currSection == "index" && (
                        <aside>
                            <div class="be-partner">
                                <h2>Devenez partenaire</h2>

                                <div>
                                    <blockquote>
                                        <Content />
                                        <p>
                                            &mdash; {randomVerbatim.data.name}
                                        </p>
                                    </blockquote>
                                </div>

                                <PartnershipLink
                                    url={config.partershipUrl}
                                    text="Dossier de partenariat"
                                />
                                <PartnershipLink
                                    url={config.partershipUrlEn}
                                    text="Partnership deck"
                                />
                            </div>
                            {config.enabled.sponsoring && (
                                <div class="content filled">
                                    <h2>
                                        Un grand merci à nos partenaires qui
                                        nous soutiennent déjà pour l'édition
                                        {config.edition}!
                                    </h2>

                                    <Sponsors />
                                </div>
                            )}
                        </aside>
                    )
                }
            </div>

            <Footer />
        </div>

        <!-- 🛠️ Service Worker -->
        <script>
            if ("serviceWorker" in navigator) {
                window.addEventListener("load", function () {
                    navigator.serviceWorker.register("/sw.js");
                });
            }
        </script>
    </body>
</html>
